<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687239300973-4renvi2tn1vat2n8rob211r8urui49n4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687239300973-4renvi2tn1vat2n8rob211r8urui49n4</string>
	<key>API_KEY</key>
	<string>AIzaSyBulVeckS1GqEId2lMsmkFOE2AyQMrZM2w</string>
	<key>GCM_SENDER_ID</key>
	<string>687239300973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cisnenegro.control</string>
	<key>PROJECT_ID</key>
	<string>sitopia-mx</string>
	<key>STORAGE_BUCKET</key>
	<string>sitopia-mx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687239300973:ios:2ede7944e54e326a52bc64</string>
	<key>DATABASE_URL</key>
	<string>https://sitopia-mx.firebaseio.com</string>
</dict>
</plist>